<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.olivercastelblanco.panini"
        versionCode = "11" 
        version     = "1.0.2" >
	<name>PCA</name>
    <description>
        Panini Castelblanco Álvarez: una forma automatizada de controlar las monitas del álbum.
    </description>
    <author href="http://www.olivercastelblanco.com/panini" email="ocastelblanco@gmail.com">
        Oliver Castelblanco M.
    </author>
    <gap:platform name="android" />
    <preference name="splash-screen-duration" value="7000"/>
    <icon src="icon.png" />
    <gap:splash src="splash.png" />
    <icon src="img/ldpi.png" gap:platform="android" gap:density="ldpi" />
	<icon src="img/mdpi.png" gap:platform="android" gap:density="mdpi" />
	<icon src="img/hdpi.png" gap:platform="android" gap:density="hdpi" />
	<icon src="img/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
	<icon src="img/xxhdpi.png" gap:platform="android" gap:density="xxhdpi" />
    <gap:splash src="img/splash.png" gap:platform="android" width="320" height="480" />
</widget>